whatsapp_session/
temp_audio_files/
transcricoes.json
__pycache__/
*.pyc
.DS_Store
build/
dist/
*.spec
!CatZap/CatZap_v1.4.spec
CatZap.exe
CatZap_v1.0.zip
vc_redist.x64.exe
*.db
.opencode/
debug_screenshots/
